<div id="perso">
	<div class="container">
		<div class="header">
			<input id="name" type="text">
		</div>
		<div class="description">
			<div class="player">
				<input id="player" type="text">
				<input id="classe" type="text">
				<input id="niveau" type="text">
				<input id="race" type="text">
			</div>
			<div class="physique">
				<input id="alignement" type="text">
				<input id="divinite" type="text">
				<input id="categorie-taille" type="text">
				<input id="age" type="text">
				<input id="sexe" type="text">
				<input id="taille" type="text">
				<input id="poids" type="text">
				<input id="campagne" type="text">
			</div>
		</div>
		<div class="stats-comp">
			<div class="caracs">
				<div id="for">
					<input class="value" type="text">
					<input class="modif" type="text">
					<input class="temp-value" type="text">
					<input class="temp-modif" type="text">
				</div>
				<div id="dex">
					<input class="value" type="text">
					<input class="modif" type="text">
					<input class="temp-value" type="text">
					<input class="temp-modif" type="text">
				</div>
				<div id="con">
					<input class="value" type="text">
					<input class="modif" type="text">
					<input class="temp-value" type="text">
					<input class="temp-modif" type="text">
				</div>
				<div id="int">
					<input class="value" type="text">
					<input class="modif" type="text">
					<input class="temp-value" type="text">
					<input class="temp-modif" type="text">
				</div>
				<div id="sag">
					<input class="value" type="text">
					<input class="modif" type="text">
					<input class="temp-value" type="text">
					<input class="temp-modif" type="text">
				</div>
				<div id="cha">
					<input class="value" type="text">
					<input class="modif" type="text">
					<input class="temp-value" type="text">
					<input class="temp-modif" type="text">
				</div>
			</div>
			<div class="armor">
				<div id="ca">
					<input class="total" type="text">
					<input class="armor-bonus" type="text">
					<input class="shield-bonus" type="text">
					<input class="dex-modif" type="text">
					<input class="cat-taille-modif" type="text">
					<input class="natural-armor" type="text">
					<input class="parade-modif" type="text">
					<input class="divers-modif" type="text">
				</div>
				<div id="spe-ca">
					<input class="contact" type="text">
					<input class="depourvu" type="text">
				</div>
				<div id="mod-ca">
					<input class="spe-mod" type="text">
				</div>
				<div id="action-point">
					<input class="reserve" type="text">
					<input class="dice" type="text">
				</div>
			</div>
			<div class="attack">
			</div>
			<div class="competences">
			</div>
		</div>
	</div>
</div>
